@model PaceScrape.Domain.Entities.ScrapeEdit

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page">
    <h2>Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div style="color:red;font-size:small" ;>
            @ViewData["UpdateSubmit"]
        </div>

        <fieldset>
            <div>
                <table>
                    <tr>
                        <div class="editor-label">
                            <td><b>Account Number:</b></td>
                            <td>
                                @Html.DisplayFor(model => model.accountno)
                                @Html.ValidationMessageFor(model => model.apn, "", new { @class = "text-danger" })
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <div class="editor-label">
                            <td><b>Apn:</b></td>
                            <td>
                                @Html.DisplayFor(model => model.apn)
                                @Html.ValidationMessageFor(model => model.apn, "", new { @class = "text-danger" })
                            </td>
                        </div>
                    </tr>

                    <tr>
                        <div class="editor-label">
                            <td><b>County:</b></td>
                            <td>
                                <a href=@Model.countyurl onclick="javascript:window.open(Model.countryurl,'countyurl','width=850, height=620, toolbar=yes, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, copyhistory=no, titlebar=no');" border="0" rel="noopener noreferrer" target="_blank">@Model.county</a>

                                @Html.ValidationMessageFor(model => model.county, "", new { @class = "text-danger" })
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <div class="editor-label">
                            <td><b>Requested Date:</b></td>
                            <td>
                                @Html.DisplayFor(model => model.requesteddate)
                                @Html.ValidationMessageFor(model => model.requesteddate, "", new { @class = "text-danger" })
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <div class="editor-label">
                            <td><b>Processed Date:</b></td>
                            <td>
                                @Html.DisplayFor(model => model.processeddate)
                                @Html.ValidationMessageFor(model => model.processeddate, "", new { @class = "text-danger" })
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <div class="editor-label">
                            <td><b>Payment No:</b></td>
                            <td>
                                @Html.DisplayFor(model => model.paymentno)
                                @Html.ValidationMessageFor(model => model.paymentno, "", new { @class = "text-danger" })
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <div class="editor-label">
                            <td><b>Installment No:</b></td>
                            <td>
                                @Html.DisplayFor(model => model.installmentno)
                                @Html.ValidationMessageFor(model => model.installmentno, "", new { @class = "text-danger" })
                            </td>
                        </div>
                    </tr>

                    <tr>
                        <div class="editor-label">
                            <td><b>Due Date:</b></td>
                            <td>
                                @Html.DisplayFor(model => model.paymentduedate)
                                @Html.ValidationMessageFor(model => model.paymentduedate, "", new { @class = "text-danger" })
                            </td>
                        </div>
                    </tr>

                    <tr>
                        <div class="editor-label">
                            <td><b>Payment Status:</b></td>
                            <td>
                                @Html.EditorFor(model => model.paymentstatus) (PAID or DUE)
                                @Html.ValidationMessageFor(model => model.paymentstatus, "", new { @class = "text-danger" })
                            </td>
                        </div>
                    </tr>

                    <tr>
                        <div class="editor-label">
                            <td><b>Paid Date:</b></td>
                            <td>
                                @Html.EditorFor(model => model.paiddate) (mm/dd/yyyy)
                                @Html.ValidationMessageFor(model => model.paiddate, "", new { @class = "text-danger" })
                            </td>
                        </div>
                    </tr>

                    <tr>
                        <div class="editor-label">
                            <td><b>Amount Paid:</b></td>
                            <td>
                                @Html.EditorFor(model => model.amountpaid) (nnnn.nn)
                                @Html.ValidationMessageFor(model => model.amountpaid, "", new { @class = "text-danger" })
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <div class="editor-label">
                            <td><b>Payment Process Date:</b></td>
                            <td>
                                @Html.DisplayFor(model => model.paymentprocessdate)
                                @Html.ValidationMessageFor(model => model.paymentprocessdate, "", new { @class = "text-danger" })
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <div class="editor-label">
                            <td><b>Payment Process Status:</b></td>
                            <td>
                                @Html.DisplayFor(model => model.paymentprocessstatus)
                                @Html.ValidationMessageFor(model => model.paymentprocessstatus, "", new { @class = "text-danger" })
                            </td>
                        </div>
                    </tr>

                </table>

                <br />

                <div>
                    <input type="submit" value="Update" />
                </div>

            </div>
        </fieldset>
    }

    <br />
    <div>
        @*&nbsp;&nbsp;&nbsp;@Html.ActionLink("HOME", "Index", "Home")*@
        &nbsp;&nbsp;&nbsp;
        <input type="button" value="Close" onclick="javascript:window.close();" />
    </div>

</div>