@model IEnumerable<PaceScrape.Domain.Entities.pace_scrape_results_forprocessing>

@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page">
    <h2>Pace Scrape - Search Results</h2>


    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td><input type="submit" name="Refresh" value="Refresh" /></td>
                <td style="padding-right:25px;"></td>
                <td>@Html.ActionLink("HOME", "Index", "Home")</td>
            </tr>
        </table>
        <br />



        <fieldset>

            <table class="table">
                <tr style="background-color:darkblue;color:white;">
                    <th width="80px">
                        @Html.DisplayName("Account No")
                    </th>
                    <th width="100px">
                        @Html.DisplayName("Apn")
                    </th>
                    <th width="100px">
                        @Html.DisplayName("County")
                    </th>
                    <th width="80px">
                        @Html.DisplayName("Requested Date")
                    </th>
                    <th width="80px">
                        @Html.DisplayName("Processed Date")
                    </th>
                    <th width="50px">
                        @Html.DisplayName("Scraping Status")
                    </th>
                    <th width="50px">
                        @Html.DisplayName("Payment No")
                    </th>
                    <th width="50px">
                        @Html.DisplayName("Installment No")
                    </th>
                    <th width="50px">
                        @Html.DisplayName("Payment Due Date")
                    </th>
                    <th width="60px">
                        @Html.DisplayName("Payment Status")
                    </th>
                    <th width="80px">
                        @Html.DisplayName("Paid Date")
                    </th>
                    <th width="100px">
                        @Html.DisplayName("Amount Paid")
                    </th>
                    <th width="100px">
                        @Html.DisplayName("Payment Process Date")
                    </th>
                    <th width="110px">
                        @Html.DisplayName("Payment Process Status")
                    </th>
                    <th width="80px">
                        @Html.DisplayName("Source")
                    </th>
                    <th style="background-color: aliceblue;width:20px;"></th>
                </tr>

                @{var rowColor = "#FFFFE0";}
                @foreach (var item in Model)
                {

                    <tr style="background-color:@rowColor;">
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.County)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequestedDate)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.ProcessedDate)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.ScrapingStatus)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.PaymentNo)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.InstallmentNo)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.PaymentDueDate)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.PaymentStatus)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.PaidDate)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.AmountPaid)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.PaymentProcessDate)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.PaymentProcessStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Source)
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id })*@

                            <input type="button" name="Edit" value="Edit" onclick="javascript:window.open('/Home/Edit/'+@item.Id,'editscraperesult','width=850, height=780, toolbar=yes, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, copyhistory=no, titlebar=no');" border="0" rel="noopener noreferrer" style="cursor: pointer;height:18px;vertical-align:middle;font-size:x-small;background-color:darksalmon;color:white; " />

                        </td>
                    </tr>

                    if (@rowColor.Equals("#FFFFE0"))
                    {
                        rowColor = "#E9E9E9";
                    }
                    else
                    {
                        rowColor = "#FFFFE0";
                    }
                }
            </table>
            @Html.Hidden("ScrapeProcessedDates", ViewData["scrapeProcessedDate"])
            @Html.Hidden("Counties", ViewData["county"])
            @Html.Hidden("Status", ViewData["status"])
            @Html.Hidden("AccountNo", ViewData["accountno"])
        </fieldset>

    }

</div>

